---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container">

                <!-- Header -->
                <div class="section has-text-centered">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">
                        {% if page.category %}
                        {{ page.category | capitalize }} Project
                        {% else %}
                        Project
                        {% endif %}
                    </p>

                    <h1 class="title">{{ page.title }}</h1>

                    {% if page.description %}
                    <p class="has-text-grey">{{ page.description }}</p>
                    {% endif %}
                </div>

                <!-- Optional YouTube embed -->
                {% if page.youtube %}
                <div class="section">
                    {% include youtube.html id=page.youtube %}
                </div>
                {% endif %}

                <!-- Optional vimeo embed -->
                {% if page.vimeo %}
                <div class="section">
                    <div style="position: relative; padding-top: 56.25%; border-radius: 14px; overflow: hidden;">
                        <iframe src="https://player.vimeo.com/video/{{ page.vimeo }}"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                frameborder="0"
                                allow="autoplay; fullscreen; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                {% endif %}

                {% if page.video_mp4 %}
                <div class="project-media">
                    <video controls muted loop playsinline preload="metadata" style="width:100%; display:block;">
                        <source src="{{ page.video_mp4 | relative_url }}" type="video/mp4">
                    </video>
                </div>
                {% endif %}


                <!-- Optional image gallery -->
                {% if page.gallery %}
                <div class="section">
                    {% include gallery.html images=page.gallery %}
                </div>
                {% endif %}

                <!-- Project content -->
                <div class="section content">
                    {{ content }}
                </div>

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>

